.contenedor {
  border: 10px solid rgba(18, 69, 89, 1);
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  background-color: rgba(239, 246, 224, 1);
  box-shadow: 6px 6px 3px rgba(1, 22, 30, 1);
}

.titulo {
  text-align: center;
}

body {
  background-color: #598392;
}

.parrafo1,
p {
  font-size: 15px;
  text-align: center;
}

.lista {
  text-align: center;
  list-style-position: inside;
}

.lasagna-img {
  display: block;
  margin: auto;
  border-radius: 10px;
  margin: 30px auto;
}

.lasagna2-img {
  display: block;
  border-radius: 10px;
  margin: 30px auto;
}

.titulo2 {
  text-align: center;
}

.lista2 {
  font-size: 15px;
  list-style-position: inside;
  padding-left: 10px;
}

.lista2 li {
  text-indent: -1.5em;
  margin-left: 1.5em;
}

.parrafo2 {
  font-size: 15px;
}

.titulo3 {
  text-align: center;
}

.parrafo3 {
  font-size: 15px;
}

.lista3 {
  font-size: 15px;
  list-style-position: inside;
  padding-left: 10px;
}

.titulo4 {
  text-align: center;
}

.parrafo4 {
  font-size: 15px;
}

.lasagna3-img {
  display: block;
  border-radius: 10px;
  margin: 30px auto;
}

.titulo5 {
  text-align: center;
}

.parrafo5 {
  font-size: 15px;
}

.titulo6 {
  text-align: center;
}

.steps {
  list-style-position: inside;
  font-size: 15px;
  text-align: center;
}

.lasagna4-img {
  display: block;
  border-radius: 10px;
  margin: 30px auto;
}

.home {
  text-align: center;
}
